<p id="notice"><%= notice %></p>

<h1>
  <%= @student.first_name %>
  <%= @student.last_name %>
</h1>

<p>
  Born on <%= @student.date_of_birth %>
</p>

<p>
  Has been sentenced to serve
  <%= @student.jc_days_sentenced %>
  days on JC
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
