<p id="notice"><%= notice %></p>

<h2>
  <%= @student.first_name %> <%= @student.last_name %> (age <%= @student.age %>) <%= link_to 'Edit', edit_student_path(@student) %>
</h2>

<h4>JC days sentenced: <%= @student.jc_days_sentenced %></h4>

<h4>Past JC substitutions (<%= @student.jc_substitutions.count %>):</h4>
<p>
  <ul>
    <% @student.jc_substitutions.sort_by(&:day).each do |jc_substitution| %>
    <li>
      <%= jc_substitution.day.strftime('%b %-d, %Y') %>
      <%= link_to '[X]', [jc_substitution.student, jc_substitution], :confirm => 'Are you sure?', :method => :delete %>
    </li>
    <% end %>
  </ul>
</p>

<p>
  <%= form_for([@student, @student.jc_substitutions.build]) do |f| %>
  <div class="field">
    <%= f.date_select :day, {:order=>[:month,:day,:year]} %>
    <%= f.submit 'Add' %>
  </div>
  <% end %>
</p>

<h4>Past JC absences (<%= @student.jc_absences.count %>):</h4>
<p>
  <ul>
    <% @student.jc_absences.sort_by(&:day).each do |jc_absence| %>
    <li>
      <%= jc_absence.day.strftime('%b %-d, %Y') %>
      <%= link_to '[X]', [jc_absence.student, jc_absence], :confirm => 'Are you sure?', :method => :delete %>
    </li>
    <% end %>
  </ul>
</p>

<%= form_for([@student, @student.jc_absences.build]) do |f| %>
  <div class="field">
    <%= f.date_select :day, {:order=>[:month,:day,:year]} %>
    <%= f.submit 'Add' %>
  </div>
<% end %>

<%= link_to 'Back', students_path %>
