<h1>DVS Students</h1>

<ul>
  <% @students.sort_by(&:first_name).sort_by(&:last_name).each do |student| %>
  <li>
    <%= student.last_name %>, <%= student.first_name %> (age <%= student.age %>)
    <%= link_to 'Show', student %>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Student', new_student_path %>
